
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.h1 {
    color: #064384;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    background: #444;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.subsmit-button{
  background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.radio-group {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 8px solid #000000;
  border-radius: 50%;
  margin-right: 12px;
  position: relative;
}

input[type="radio"]:hover {
  transform: scale(1.1);
  border-color: #9370DB;
  box-shadow: 0 0 10px rgba(123, 104, 238, 0.2);
}

input[type="radio"]:checked {
  background: linear-gradient(145deg, #7B68EE, #9370DB);
  animation: pulse 0.5s;
}

input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  font-size: 18px;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  transition: color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

@keyframes pulse {
  0% { transform: scale(0.9); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

